<!-- <agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map> -->
<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
    <div class="description">
      <h3>Netural : <span><img src="assets/imgs/map_normal.png" class="icon-img" alt=""></span></h3>
      <h3>Happy : <span><img src="assets/imgs/map_smile.png" class="icon-img" alt=""></span></h3>
      <h3>Sad : <span><img src="assets/imgs/map_sad.png" class="icon-img" alt=""></span></h3>
    </div>


  </div>
</div>
